$fa-font-path: "/bower_components/font-awesome/fonts";

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../assets/fonts/HelvNeueLightforIBM.otf')
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../assets/fonts/HelvNeueBoldforIBM.otf')
}

/**
 * App-wide Styles
 */

html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue Light';
  background-color: #001934;
  color: #FFFFFF;
  padding: 0 !important;
  margin:0 !important;
  height: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
}

.container-padded {
  padding-top: 100px;
}

.centered {
  text-align: center;
}

.button {
  font-size: 1.2em;
  padding: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
  color: #FFF;
  background: transparent;
}

.button:active,.button:hover{
  color: #001934;
  background-color: #FFF;
  cursor: pointer;
}

.button.button-full {
  width: 100%;
}

.input-styled {
  font-size: 1.2em;
  text-align: center;
  padding: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
  color: #FFF;
  background: transparent;
}

.v-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.container-middled {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blocked {
  display: inline-block;
}

.big-screen {
  font-size: 30px;
}

a {
  color: #FFF;
}

.righted {
  text-align: right;
}

.lefted {
  text-align: left;
}

.container-centered {
  display: inline-block;
  margin: 0 auto;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'routes/edit/edit.scss';
@import 'routes/main/main.scss';
@import 'routes/results/results.scss';
@import 'modal/modal.scss';
// endinjector
